{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>

                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block page_wrapper %}
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="{{request.user.patient.image.url}}" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>{{request.user.patient}}</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> {{request.user.patient.birth_date}}, 38 years</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{request.user.patient.state}}, {{request.user.patient.city}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li class="{% if action == 'dashboard' %}active{% endif %}">
                                    <a href="{% url 'patients:dashboard' %}">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="favourites.html">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Favourites</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="chat.html">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li class="{% if action == 'profile_setting' %}active{% endif %}">
                                    <a href="{% url 'patients:profile_setting' %}">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="change-password.html">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'siteauth:handle_logout' %}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- / Profile Sidebar -->


            <div class="col-md-7 col-lg-8 col-xl-9">
                {% block content %}{% endblock content %}
            </div>


        </div>

    </div>

</div>
{% endblock page_wrapper %}

{% block extrascript %}

<!-- Datetimepicker JS -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

<script src="assets/plugins/select2/js/select2.min.js"></script>


<!-- Sticky Sidebar JS -->
<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

{% endblock %}
