{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Booking</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_wrapper %}
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                {% for i in table %}
                <table>
                    <tr>
                        <td>{{i}}</td>
                    </tr>
                </table>
                {% endfor %}


                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="{{doctor.image.url}}" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">Dr. {{doctor}}</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctor.city}},
                                    {{doctor.state}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li class="left-arrow">
                                            <a href="#">
                                                <i class="fa fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        {% for date in schedule_obj %}
                                        {% for dt in date.keys %}
                                        <li>
                                            <span>Mon</span>
                                            <span class="slot-date"> <small class="slot-year">{{dt}}</small></span>
                                        </li>
                                        {% endfor %}
                                        {% endfor %}

                                        <li class="right-arrow">
                                            <a href="#">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->

                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix">
                                        {% for data in schedule_obj %}
                                        <li>
                                            {% for schedules in data.values %}
                                            {% if schedules %}
                                            {% for schedule in schedules %}
                                            {% if schedule.appointment %}
                                            <a class="timing selected" href="" style="background:red">
                                                <span>{{schedule.start_from}} - {{schedule.finish_by}}</span>
                                            </a>
                                            {% else %}
                                            <a class="timing selected" href="{% url 'doctors:make_appointment' slug=doctor.slug pk=schedule.pk %}" style="">
                                                <span>{{schedule.start_from}} - {{schedule.finish_by}}</span>
                                            </a>
                                            {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            <a class="timing" href="#" style="">
                                                <span>-</span>
                                            </a>
                                            {% endif %}
                                            {% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- /Time Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-right">
                    <a href="checkout.html" class="btn btn-primary submit-btn">Proceed to Pay</a>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
{% endblock page_wrapper %}

