{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="card-box">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Добавить доктор</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Имя <span class="text-danger">*</span></label>
                                {{form.first_name}}
                                <div class="form-error">{{ form.first_name.errors }}</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Фамилия <span class="text-danger">*</span></label>
                                {{form.last_name}}
                                <div class="form-error">{{ form.last_name.errors }}</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Отчество </label>
                                {{form.middle_name}}
                                <div class="form-error">{{ form.middle_name.errors }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Специальность <span class="text-danger">*</span></label>
                                {{form.speciality}}
                                <div class="form-error">{{ form.speciality.errors }}</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Электронная почта <span class="text-danger">*</span></label>
                                {{form.email}}
                                <div class="form-error">{{ form.email.errors }}</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Дата рождения </label>
                                <div class="cal-icon">
                                    {{form.birth_date}}
                                    <div class="form-error">{{ form.birth_date.errors }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group gender-select">
                                <label class="gen-label">Пол:</label>
                                {% for radio in form.gender %}
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Адрес</label>
                                        {{form.address}}
                                        <div class="form-error">{{ form.address.errors }}</div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Город</label>
                                        {{form.city}}
                                        <div class="form-error">{{ form.city.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Область</label>
                                        {{form.state}}
                                        <div class="form-error">{{ form.state.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Телефон </label>
                                        {{form.phone}}
                                        <div class="form-error">{{ form.phone.errors }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Аватар</label>
                                <div class="profile-upload">
                                    <div class="upload-img">
                                        <img alt="" src="{% static 'dashboard/assets/img/user.jpg' %}">
                                    </div>
                                    <div class="upload-input">
                                        {{form.image}}
                                        <div class="form-error">{{ form.image.errors }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Навыки </label>
                        {{form.skill}}
                        <div class="form-error">{{ form.skill.errors }}</div>
                    </div>
                    <div class="form-group">
                        <label>Биография</label>
                        {{form.bio}}
                    </div>
                    <div class="form-group">
                        <label class="display-block">Статус</label>
                        <div class="form-check form-check-inline">
                            {{form.is_active}}
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button class="btn btn-primary" type="submit">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
