{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="card-box">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Расписания</h4>
            </div>

            <div class="col-sm-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <input type="search" name="patient" class="form-control" placeholder="Пациент" value="{{patient}}">
                        </div>
                        <div class="col-md-2">
                            <input type="search" name="doctor_name" class="form-control" placeholder="Врач" value="{{doctor_name}}">
                        </div>
                        <div class="col-md-2">
                            <input type="date" name="start_date" class="form-control" value="{{start_date}}">
                        </div>
                        <div class="col-md-2">
                            <input type="date" name="end_date" class="form-control" value="{{end_date}}">
                        </div>
                        <div class="col-md-2">
                            <select name="status" class="form-control">
                                <option value="{{status}}">------</option>
                                <option value="">Все</option>
                                <option value="Завершенный">Завершенный</option>
                                <option value="В ожидании">В ожидании</option>
                                <option value="Отменено">Отменено</option>
                            </select>

                        </div>
                        
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-lg">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                        <tr>
                            <th>ФИО пациента</th>
                            <th>ФИО доктора</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Цена</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in page_obj %}
                        <tr>
                            <td><img width="28" height="28" src="{% static 'dashboard/assets/img/user.jpg' %}"
                                     class="rounded-circle m-r-5"
                                     alt=""> {{appointment.patient}}
                            </td>
                            <td>{{appointment.doctor}}</td>
                            <td>{{appointment.date}}</td>
                            <td>{{appointment.start_from}} - {{appointment.finish_by}}</td>
                            <td>{{appointment.price}}</td>
                            <td><span
                                    class="custom-badge {% if appointment.status == 'Завершенный' %}badge-success{% elif appointment.status == 'Отменено' %}badge-danger {% else %}badge-warning{% endif %}">{{appointment.status}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% if page == page_obj.number %}active{% endif %}" aria-current="page">
                    <a class="page-link" href="?page={{page}}">{{ page }}</a>
                </li>
                {% endfor %}

                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="delete_appointment" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="{% static 'dashboard/assets/img/sent.png' %}" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Appointment?</h3>
                <div class="m-t-20"><a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

