{% extends 'dashboard/doctors/profile-layout.html' %}
{% load static %}

{% block profile_content %}
<div class="content">
    <div class="card-box">
        <div class="row">
            <div class="col-md-4">
                <h3 class="page-title">Расписания</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                        <tr>
                            <th>ФИО пациента</th>
                            <th>Дата расписания</th>
                            <th>Время расписания</th>
                            <th>Номер телефона</th>
                            <th>Цена</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in page_obj %}
                        <tr>
                            <td>
                                {{appointment.patient}}
                            </td>
                            <td>{{appointment.date}}</td>
                            <td>{{appointment.start_from}} - {{appointment.finish_by}}</td>
                            <td>{{appointment.phone_number}}</td>
                            <td>{{appointment.price}}</td>
                            <td><span
                                    class="custom-badge {% if appointment.status == 'Завершенный' %}badge-success{% elif appointment.status == 'Отменено' %}badge-danger {% else %}badge-warning{% endif %}">{{appointment.status}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% if page == page_obj.number %}active{% endif %}" aria-current="page">
                    <a class="page-link" href="?page={{page}}">{{ page }}</a>
                </li>
                {% endfor %}

                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

</div>
{% endblock %}