{% extends 'dashboard/doctors/profile-layout.html' %}
{% load static %}
{% block profile_content %}

<div class="content">

    <div class="card-box">



        <div class="row">



            <div class="col-md-12">

                <form action="{% url 'dashboard:search_schedule_day' slug=doctor.slug %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Schedules</h3>
                        </div>
                        <div class="col-md-3">
                            <input type="date" class="form-control" id="date" name="date"
                                   required>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-success btn-lg">Get Schedule</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table mb-0">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Available Time</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{schedule.date}}</td>
                            <td>{{schedule.start_from}} - {{schedule.finish_by}}</td>
                            <td><span
                                                class="custom-badge status-{% if schedule.is_active %}green{% else %}red{% endif %}">{% if schedule.is_active %}Active{% else %}Inactive{% endif %}</span>
                                        </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="edit-schedule.html"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal"
                                           data-target="#delete_schedule"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}