{% extends 'dashboard/doctors/profile-layout.html' %}
{% load static %}
{% block profile_content %}

<div class="content">

    <div class="card-box">
        <div class="row">

            <div class="col-md-12">

                <form action="{% url 'dashboard:search_schedule_day' slug=doctor.slug %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Графики</h3>
                        </div>
                        <div class="col-md-3">
                            <input type="date" class="form-control" id="date" name="date"
                                   required>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-success btn-lg">Создать график</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table mb-0">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th></th>
                            <th>Статус</th>
                            <th class="text-right">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for schedule in page_obj %}
                        <tr>
                            <td>{{schedule.date}}</td>
                            <td>{{schedule.start_from}} - {{schedule.finish_by}}</td>
                            <td><span class="custom-badge status-{% if schedule.is_active %}green{% else %}red{% endif %}">{% if schedule.is_active %}Active{% else %}Inactive{% endif %}</span>
                            </td>

                            <td><span
                                    class="badge bg-{% if schedule.appointment %}warning text-dark{% else %}success{% endif %}">{% if schedule.appointment %}Занятый{% else %}Свободный{% endif %}</span>
                            </td>
                            <td class="text-right"><a class=""
                                                      href="{% url 'dashboard:edit_schedule' pk=schedule.pk %}"><i
                                    class="fa fa-pencil m-r-5"></i> Редактировать</a>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% if page == page_obj.number %}active{% endif %}" aria-current="page">
                    <a class="page-link" href="?page={{page}}">{{ page }}</a>
                </li>
                {% endfor %}

                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

</div>


{% endblock %}