<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Medlink Directory A Complete Learning Source : Dashboard Appointment Schedule</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.countdown.css">
    <link rel="stylesheet" href="css/customScrollbar.css">
    <link rel="stylesheet" href="css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="css/fullcalendar.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/transitions.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="tg-login">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Preloader Start
*************************************-->
<div class="preloader-outer">
    <div class="pin"></div>
    <div class="pulse"></div>
</div>
<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Header Start
    *************************************-->
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="tg-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <span class="tg-quickadvice">Get a Quick Advice: <strong>(+4) 1234 5667 - 9</strong></span>
                        <ul class="tg-contactinfo">
                            <li><a href="info@domain.com">info@domain.com</a></li>
                            <li>
                                <address>147 Tottenham, London, W1T 1JY</address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <strong class="tg-logo">
                        <a href="index.html"><img src="images/logo.png" alt="image description"></a>
                    </strong>
                    <div class="tg-navigationarea">
                        <nav id="tg-nav" class="tg-nav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#tg-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="tg-navigation" class="tg-navigation collapse navbar-collapse">
                                <ul>
                                    <li class="tg-hasdropdown">
                                        <a href="#">Categories</a>
                                        <ul class="tg-dropdownmenu">
                                            <li><a href="searchresult-v1.html">Doctors</a></li>
                                            <li><a href="searchresult-v2.html">Hospitals</a></li>
                                            <li><a href="searchresult-v3.html">Spas</a></li>
                                            <li><a href="searchresult-v1.html">Pharmacies</a></li>
                                            <li><a href="searchresult-v2.html">Labs</a></li>
                                            <li><a href="searchresult-v3.html">Fitness</a></li>
                                            <li><a href="searchresult-v1.html">Clinics</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="aboutus.html">About</a></li>
                                    <li><a href="how-its-works.html">How It Works?</a></li>
                                    <li class="tg-hasdropdown">
                                        <a href="javascript:void(0);">
                                            <i class="hidden-xs fa fa-navicon"></i>
                                            <span class="hidden-lg hidden-md hidden-sm">Pages</span>
                                        </a>
                                        <ul class="tg-dropdownmenu">
                                            <li><a href="blogpostlist.html">Blog List</a></li>
                                            <li><a href="blogpostgrid.html">Blog Grid</a></li>
                                            <li><a href="blogpostdetail.html">Blog Detail</a></li>
                                            <li><a href="doctor-overview-detail.html">Doctor Detail</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="commingsoon.html">Comming Soon</a></li>
                                            <li><a href="signin-signup.html">Signin-Signup</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="tg-admin">
                            <a class="tg-btn" href="#">Become A Member</a>
                            <div class="tg-user">
                                <div class="tg-dropdown">
                                    <figure class="tg-adminpic">
                                        <span class="tg-dashboardbadge">3</span>
                                        <a href="dashboard.html"><img src="images/icons/icon-41.png"
                                                                      alt="image description"></a>
                                    </figure>
                                    <a href="dashboard.html" class="tg-usermenu tg-btndropdown">
                                        <em>howdy, Anjela doe!</em>
                                    </a>
                                    <div class="dropdown-menu tg-dropdownbox tg-usermenu">
                                        <ul>
                                            <li>
                                                <a href="dashboard.html">
                                                    <i class="fa fa-line-chart"></i>
                                                    <span>Insights</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-badgepopup.html">
                                                    <i class="fa fa-line-chart"></i>
                                                    <span>Insights-Two</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-profilesetting.html">
                                                    <i class="fa fa-user"></i>
                                                    <span>Profile settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-jobslocations.html">
                                                    <i class="fa fa-location-arrow"></i>
                                                    <span>Job Locations</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-privatemessages.html">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <span>Private Messages</span>
                                                </a>
                                            </li>
                                            <li class="tg-active">
                                                <a href="dashboard-appointments.html">
                                                    <i class="fa fa-calendar-check-o"></i>
                                                    <span>Appointments</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-appoinmentsetting.html">
                                                    <i class="fa fa-gear"></i>
                                                    <span>Appointment Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-favoritlisting.html">
                                                    <i class="fa fa-heart"></i>
                                                    <span>Favourite Listings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-invoices.html">
                                                    <i class="fa fa-clone"></i>
                                                    <span>Invoices</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-upgradepackage.html">
                                                    <i class="fa fa-arrow-up"></i>
                                                    <span>Update Package</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-securitysettings.html">
                                                    <i class="fa fa-gears"></i>
                                                    <span>Security Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dashboard-privacy-settings.html">
                                                    <i class="fa fa-eye"></i>
                                                    <span>Privacy Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-sign-out"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--************************************
            Header End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content tg-dashboard">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                        <div class="tg-widgetdashboard">
                            <div class="tg-widgetprofile">
                                <figure class="tg-directpostimg">
                                    <a href="#"><img src="images/thumbnails/img-20.jpg" alt="image description"></a>
                                    <figcaption>
                                        <a class="tg-usericon tg-iconfeatured" href="#">
                                            <em class="tg-usericonholder">
                                                <i class="fa fa-bolt"></i>
                                                <span>featured</span>
                                            </em>
                                        </a>
                                        <a class="tg-usericon tg-iconvarified" href="#">
                                            <em class="tg-usericonholder">
                                                <i class="fa fa-shield"></i>
                                                <span>varified</span>
                                            </em>
                                        </a>
                                    </figcaption>
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. Steve Northrop</a></h3>
                                    <div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
                                    <ul class="tg-metadata">
                                        <li><span class="tg-stars"><span></span></span></li>
                                        <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                    </ul>
                                </div>
                                <a class="tg-btn tg-btn-lg" href="#">Edit Profile</a>
                            </div>
                            <nav id="tg-dashboardnav" class="tg-dashboardnav">
                                <ul>
                                    <li>
                                        <a href="dashboard.html">
                                            <i class="fa fa-line-chart"></i>
                                            <span>Insights</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-badgepopup.html">
                                            <i class="fa fa-line-chart"></i>
                                            <span>Insights two</span>
                                        </a>
                                    </li>
                                    <li class="tg-warningmessage">
                                        <a href="dashboard-profilesetting.html">
                                            <i class="fa fa-user"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-jobslocations.html">
                                            <i class="fa fa-location-arrow"></i>
                                            <span>Job Locations</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-privatemessages.html">
                                            <i class="fa fa-envelope-o"></i>
                                            <span>Private Messages</span>
                                        </a>
                                    </li>
                                    <li class="tg-successmessage tg-active">
                                        <a href="dashboard-appointments.html">
                                            <i class="fa fa-calendar-check-o"></i>
                                            <span>Appointments</span>
                                        </a>
                                    </li>
                                    <li class="tg-errormessage">
                                        <a href="dashboard-appoinmentsetting.html">
                                            <i class="fa fa-gear"></i>
                                            <span>Appointment Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-favoritlisting.html">
                                            <i class="fa fa-heart"></i>
                                            <span>Favourite Listings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-invoices.html">
                                            <i class="fa fa-clone"></i>
                                            <span>Invoices</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-upgradepackage.html">
                                            <i class="fa fa-arrow-up"></i>
                                            <span>Update Package</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-securitysettings.html">
                                            <i class="fa fa-gears"></i>
                                            <span>Security Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="dashboard-privacy-settings.html">
                                            <i class="fa fa-eye"></i>
                                            <span>Privacy Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="tg-widgetdashboard">
                            <div class="tg-dashboardnotification tg-pkgexpirey"><span>13 days</span>silver package
                                Expire in
                            </div>
                        </div>
                        <div class="tg-widgetdashboard">
                            <div class="tg-banneradd">
                                <figure><a href="#"><img src="images/placeholder/img-01.jpg"
                                                         alt="image description"></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                        <div class="tg-dashboardappointments">
                            <div class="tg-dashboardbox">
                                <div class="tg-dashboardboxtitle">
                                    <h2>Your Appointments</h2>
                                </div>
                                <div id="tg-calendar" class="tg-calendar"></div>
                                <div class="tg-dashboardinvoices tg-appointmentdetails">
                                    <div class="tg-tablescroll">
                                        <div class="tg-dashboardbox tg-appointmentdetailbox">
                                            <div class="tg-dashboardboxtitle">
                                                <h2>Appointments Of <span>Jan 11, 2017</span></h2>
                                            </div>
                                            <div class="tg-favoritlistingbox">
                                                <div class="tg-invoicestitle">
                                                    <span>Title</span>
                                                    <span class="tg-titleamount">Time</span>
                                                    <span class="tg-titleaction">Action</span>
                                                </div>
                                                <ul class="tg-invoices">
                                                    <li>
                                                        <div class="tg-invoicesheading">
                                                            <h3><a href="#">Reason For Visit Here</a></h3>
                                                            <span>Appointment Type Here</span>
                                                        </div>
                                                        <div class="tg-amout">
                                                            <em>15.00</em>
                                                        </div>
                                                        <div class="tg-btnaction">
                                                            <a class="tg-btnview" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentapprove"><i
                                                                    class="fa fa-check"></i></a>
                                                            <a class="tg-btndelete" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentreject"><i
                                                                    class="fa fa-minus"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="tg-invoicesheading">
                                                            <h3><a href="#">Reason For Visit Here</a></h3>
                                                            <span>Appointment Type Here</span>
                                                        </div>
                                                        <div class="tg-amout">
                                                            <em>15.00</em>
                                                        </div>
                                                        <div class="tg-btnaction">
                                                            <a class="tg-btnview" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentapprove"><i
                                                                    class="fa fa-check"></i></a>
                                                            <a class="tg-btndelete" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentreject"><i
                                                                    class="fa fa-minus"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="tg-invoicesheading">
                                                            <h3><a href="#">Reason For Visit Here</a></h3>
                                                            <span>Appointment Type Here</span>
                                                        </div>
                                                        <div class="tg-amout">
                                                            <em>10.00</em>
                                                        </div>
                                                        <div class="tg-btnaction">
                                                            <a class="tg-btnview" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentapprove"><i
                                                                    class="fa fa-check"></i></a>
                                                            <a class="tg-btndelete" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentreject"><i
                                                                    class="fa fa-minus"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="tg-invoicesheading">
                                                            <h3><a href="#">Reason For Visit Here</a></h3>
                                                            <span>Appointment Type Here</span>
                                                        </div>
                                                        <div class="tg-amout">
                                                            <em>20.00</em>
                                                        </div>
                                                        <div class="tg-btnaction">
                                                            <a class="tg-btnview" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentapprove"><i
                                                                    class="fa fa-check"></i></a>
                                                            <a class="tg-btndelete" href="#" data-toggle="modal"
                                                               data-target="#tg-appointmentreject"><i
                                                                    class="fa fa-minus"></i></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--************************************
            Main End
    *************************************-->
    <!--************************************
            Footer Start
    *************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="tg-subscribe">
            <div class="container">
                <div class="row">
                    <div class="tg-fcols">
                        <div class="col-sm-3">
                            <div class="tg-subscribetitle">
                                <h3>Signup For Latest Updates and News</h3>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <form class="tg-formtheme tg-formsubscribe">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <button class="tg-btn">Register Now</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-quicklinks">
            <div class="container">
                <div class="row">
                    <div class="tg-fcols">
                        <div class="tg-fcol">
                            <strong class="tg-logo">
                                <a href="index.html"><img src="images/logo.png" alt="image description"></a>
                            </strong>
                            <ul class="tg-contactinfo">
                                <li><a href="#"><i class="fa fa-location-arrow"></i>
                                    <address>Consectetur aelit 2456, AC1255 Manchester, UK</address>
                                </a></li>
                                <li><a href="#"><i class="fa fa-phone"></i><span>+4 423 5215 652 - 8</span></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i><span>info@domain.com</span></a></li>
                                <li><a href="#"><i class="fa fa-fax"></i><span>+4 551 5215 652</span></a></li>
                            </ul>
                            <ul class="tg-socialsharewithtext">
                                <li class="tg-facebook">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-facebook-f"></i>
                                            <span>share on facebook</span>
                                        </em>
                                    </a>
                                </li>
                                <li class="tg-twitter">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-twitter"></i>
                                            <span>share on twitter</span>
                                        </em>
                                    </a>
                                </li>
                                <li class="tg-linkedin">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-linkedin"></i>
                                            <span>share on linkdin</span>
                                        </em>
                                    </a>
                                </li>
                                <li class="tg-googleplus">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-google-plus"></i>
                                            <span>share on googl+</span>
                                        </em>
                                    </a>
                                </li>
                                <li class="tg-rss">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-rss"></i>
                                            <span>share on RSS</span>
                                        </em>
                                    </a>
                                </li>
                                <li class="tg-youtube">
                                    <a class="tg-roundicontext" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-youtube-play"></i>
                                            <span>share on YouTube</span>
                                        </em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tg-fcol tg-specialities">
                            <div class="tg-title">
                                <h3>Top Specialities</h3>
                            </div>
                            <ul>
                                <li><a href="#">Arnos Grove</a></li>
                                <li><a href="#">Dalston</a></li>
                                <li><a href="#">Balham</a></li>
                                <li><a href="#">Denmark Hill</a></li>
                                <li><a href="#">Barkingside</a></li>
                                <li><a href="#">Derry Downs</a></li>
                                <li><a href="#">Barnes Cray</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">East Bedfont</a></li>
                                <li><a href="#">Camden Town</a></li>
                                <li><a href="#">Eden Park</a></li>
                                <li><a href="#">Canonbury</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </div>
                        <div class="tg-fcol tg-latestlistings">
                            <div class="tg-title">
                                <h3>Latest Listings</h3>
                            </div>
                            <ul>
                                <li>
                                    <figure class="tg-authordp">
                                        <img src="images/directpost/img-08.jpg" alt="image description">
                                    </figure>
                                    <div class="tg-directposthead">
                                        <h3><a href="#">Dr. Steve Northrop</a></h3>
                                        <div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
                                    </div>
                                </li>
                                <li>
                                    <figure class="tg-authordp">
                                        <img src="images/directpost/img-09.jpg" alt="image description">
                                    </figure>
                                    <div class="tg-directposthead">
                                        <h3><a href="#">Dr. Steve Northrop</a></h3>
                                        <div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
                                    </div>
                                </li>
                                <li>
                                    <figure class="tg-authordp">
                                        <img src="images/directpost/img-10.jpg" alt="image description">
                                    </figure>
                                    <div class="tg-directposthead">
                                        <h3><a href="#">Dr. Steve Northrop</a></h3>
                                        <div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
                                    </div>
                                </li>
                            </ul>
                            <a class="tg-btnviewmore" href="javascript:void(0);">View All <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-footerbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <nav id="tg-footernav" class="tg-footernav">
                            <ul>
                                <li class="tg-active"><a href="">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">How It Works?</a></li>
                                <li><a href="">Categories</a></li>
                            </ul>
                        </nav>
                        <span class="tg-copyright">2017 All Rights Reserved &copy; <a href="#">MedLink Direct</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
<!--************************************
            Light Box Start
*************************************-->
<div class="modal tg-appointmentapprove tg-modal fade" id="tg-appointmentapprove" tabindex="-1" role="dialog">
    <div class="modal-dialog tg-modaldialog">
        <div class="modal-content tg-modalcontent">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
            </button>
            <h2>Appointment Detail</h2>
            <div class="tg-tablescroll">
                <div class="tg-favoritlistingbox">
                    <div class="tg-invoicestitle">
                        <span>Medlink Direct Member</span>
                        <span class="tg-titleamount">Patient Is</span>
                        <span class="tg-titleaction">Someone Else</span>
                    </div>
                    <ul class="tg-favoritlist">
                        <li>
                            <div class="tg-favotirelistcontent">
                                <figure><a href="#"><img src="images/thumbnails/img-21.jpg" alt="image description"></a>
                                </figure>
                                <div class="tg-listdata">
                                    <h4><a href="#">Cinda Landgraf</a></h4>
                                    <span>Social Worker at Rival Links</span>
                                </div>
                            </div>
                            <div class="tg-amout">
                                <em>Someone Else</em>
                            </div>
                            <div class="tg-patientrelation">
                                <span>Cinda Landgraf</span>
                                <span>Husband</span>
                            </div>
                        </li>
                    </ul>
                    <div class="tg-visitreason">
                        <div class="tg-leftbox">
                            <h3>Reason For Visit Here</h3>
                            <span>Appointment Type Here</span>
                        </div>
                        <div class="tg-rightbox">
                            <time datetime="2017-12-12">Jan 11, 2017 @ 09:00</time>
                        </div>
                    </div>
                    <div class="tg-description">
                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua enim ad minimniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo conequats aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Apteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia. deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                            error voluptatem accusantium doloremque laudantium, totami rem aperiam, eaque ipsa quae.</p>
                    </div>
                    <div class="tg-btnarea">
                        <a class="tg-btn tg-btnapprove" href="#">Approve</a>
                        <a class="tg-btn tg-btnreject" href="#" data-toggle="modal" data-target="#tg-appointmentreject">Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--*************************Appointments Of Jan 11, 2017***********
            Light Box End
*************************************-->
<!--************************************
            Light Box Start
*************************************-->
<div class="modal tg-appointmentreject tg-modal fade" id="tg-appointmentreject" tabindex="-1" role="dialog">
    <div class="modal-dialog tg-modaldialog">
        <div class="modal-content tg-modalcontent">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
            </button>
            <h2>Fill Up Important Details</h2>
            <form class="tg-formtheme tg-formrejectappointment">
                <fieldset>
                    <div class="form-group tg-formgroup">
                        <textarea placeholder="Rejection Reason Here"></textarea>
                    </div>
                    <button class="tg-btn" type="submit">submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--************************************
            Light Box End
*************************************-->
<script src="js/vendor/jquery-library.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/mapclustering/data.json"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>
<script src="js/mapclustering/markerclusterer.min.js"></script>
<script src="js/mapclustering/infobox.js"></script>
<script src="js/bootstrap-timepicker.min.js"></script>
<script src="js/customScrollbar.min.js"></script>
<script src="js/mapclustering/map.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/packery-mode.js"></script>
<script src="js/svg-injector.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/collapse.js"></script>
<script src="js/parallax.js"></script>
<script src="js/readmore.js"></script>
<script src="js/countTo.js"></script>
<script src="js/loader.js"></script>
<script src="js/appear.js"></script>
<script src="js/gmap3.js"></script>
<script src="js/main.js"></script>
</body>
</html>