{% extends 'base.html' %}
{% load static %}

{% block title %}
Signup
{% endblock %}

{% block page_wrapper %}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <!-- Register Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="{% static 'assets/img/login-banner.png' %}" class="img-fluid"
                                 alt="Doccure Register">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Patient Register <a href="">Are you a Doctor?</a></h3>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md">
                                        {% if messages %}
                                        {% for message in messages %}

                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">

                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                        {% else %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endif %}

                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- Register Form -->
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" name="username">
                                    <label class="focus-label">Username</label>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="email" class="form-control floating" name="email">
                                    <label class="focus-label">Email</label>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating" name="pass1">
                                    <label class="focus-label">Password</label>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating" name="pass2">
                                    <label class="focus-label">Confirm Password</label>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" href="{% url 'siteauth:handle_login' %}">Already have an
                                        account?</a>
                                </div>
                                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>
                                <div class="login-or">
                                    <span class="or-line"></span>
                                    <span class="span-or">or</span>
                                </div>
                                <div class="row form-row social-login">
                                    <div class="col-6">
                                        <a href="#" class="btn btn-facebook btn-block"><i
                                                class="fab fa-facebook-f mr-1"></i> Login</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i>
                                            Login</a>
                                    </div>
                                </div>
                            </form>
                            <!-- /Register Form -->

                        </div>
                    </div>
                </div>
                <!-- /Register Content -->

            </div>
        </div>

    </div>

</div>

{% endblock %}

